@charset "utf-8";

@import 'vendors/normalize';

@import url('styles/syntax-theme-dark.css');

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'core/base';

@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

@import 'sections/code';

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover {
    .fa-link {
      visibility: visible;
    }
  }
}

p a {
  @include animated-underline;
}

.title {
  font-family: $font-title;
  font-weight: $bold;
  font-size: 2rem;
}

.meta {
  margin-block: 1em;
  font-weight: $light;
  font-size: 0.875rem;
  color: $secondary;
}

.author {
  display: flex;
  align-items: center;

  .author-name {
    margin: 0;
    padding-left: 1em;

    font-weight: $bold;
  }

  .author-picture {
    display: block;
    border-radius: 50%;
  }
}

.zola-anchor {
  float: left;
  margin-left: -1.75rem;
  padding-right: 0.5rem;

  .fa-link {
    display: contents;
    visibility: hidden;

    font-size: 1rem;

    &::before {
      vertical-align: middle;
    }
  }

  &::after {
    content: none;
  }
}

p > code {
  display: inline-block;
  padding-inline: 0.5em;
  background-color: $bg-grey;
  border-radius: 4px;
  font-family: $font-mono;
  font-size: 1rem;
  font-weight: $semibold;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.article-list article:not(:last-of-type) {
  padding-bottom: 2em;
  border-bottom: solid 1px rgba($grey80, 0.25);
  margin-bottom: 2em;
}

blockquote {
  margin: 0;
  padding-inline: 2em;
  background-color: $bg-grey;
  border-radius: 0.5em;

  p {
    font-family: $font-title;
    font-size: 1.5rem;
    font-style: italic;
    color: $secondary;
  }

  & > p:first-of-type::before {
    content: open-quote;
  }

  & > p:last-of-type::after {
    content: close-quote;
  }
}

.footnotes {
  border-top: 2px dashed rgba($grey60, 0.25);
  margin-top: 3rem;
  padding-top: 2rem;

  .footnote-definition {
    padding-left: 3em;

    @media (max-width: 420px) {
      padding: 0;
    }

    sup {
      &.footnote-definition-label {
        font-size: 100%;
        position: unset;
        top: unset;

        &::after {
          content: '.';
        }
      }
    }

    p {
      display: inline;
    }
  }
}
