@charset "utf-8";

@import url("syntax-theme-dark.css");
// @import url("syntax-theme-light.css");

@import "partials/variables";
@import "partials/syntax";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family: $font-body;
  font-weight: $regular;
  color: $primary;

  background-color: $bg-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

a {
  position: relative;
  color: $accent;
  text-decoration: none;
  outline: none;

  &::after {
    content: "";
    position: absolute;

    bottom: -0.15em;
    left: 0;

    width: 100%;
    height: 0.125em;

    background-color: currentColor;

    transform: scaleX(0);
    transition: transform 200ms ease-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.zola-anchor {
  visibility: hidden;
  font-size: 1.25rem;
  margin-left: -2rem;
  margin-right: 0.75rem;
}

.article h1:hover .zola-anchor {
  visibility: visible;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 3em;
}

.logo {
  font-family: $font-title;
  font-weight: $bold;
  font-size: 3rem;

  a {
    color: $primary;
  }
}

.nav ul {
  display: flex;
  gap: 1.5em;
  padding: 0;

  list-style: none;

  font-size: 1.5rem;
  font-weight: $semibold;
}

.nav li {
  position: relative;

  a {
    color: $primary;
  }
}

.title {
  font-family: $font-title;
  font-weight: $bold;
  font-size: 2rem;
}

p {
  margin-block: 1em;
  line-height: 2;

  strong {
    font-weight: $bold;
  }
}

.subtitle {
  font-weight: $light;
  font-size: 0.875rem;
  color: $secondary;
}

.main {
  margin: 0 auto;
  padding: 1em 1em;

  max-width: 760px;

  @media (min-width: 420px) {
    padding-inline: 1.5em;
  }
}

p > code {
  display: inline-block;
  padding-inline: 0.5em;
  background-color: $bg-grey;
  border-radius: 4px;
  font-family: $font-mono;
  font-size: 0.875rem;
  font-weight: $semibold;
}

.article-list article:not(:last-of-type) {
  padding-bottom: 2em;
  border-bottom: solid 1px rgba($primary, 0.25);
  margin-bottom: 2em;
}

blockquote {
  position: relative;

  margin: 2em 0;
  padding: 0.5em 2em;

  background: rgba(blue, 0.075);
  border-left: solid 5px rgba(blue, 0.15);
  border-radius: 4px;

  p {
    margin: 0.5em;
  }

  & > & {
    margin-block: 1em;
    padding-inline: 1em;

    background: rgba(red, 0.075);
    border-left: solid 5px rgba(red, 0.15);
  }

  // &::before,
  // &::after {
  //   position: absolute;
  //   font-size: 5em;
  // }

  // &::before {
  //   content: open-quote;
  //   top: 0;
  //   left: 0;
  // }

  // &::after {
  //   content: close-quote;
  //   bottom: 0;
  //   right: 0;
  // }
}

.footnotes {
  border-top: 2px dashed rgba($primary, 0.25);
  margin-top: 3rem;
  padding-top: 2rem;

  .footnote-definition {
    padding-left: 3em;

    sup {
      &.footnote-definition-label {
        font-size: 100%;
        position: unset;
        top: unset;

        &::after {
          content: ".";
        }
      }
    }

    p {
      display: inline;
    }
  }
}

.author {
  display: flex;
  align-items: center;

  .author-name {
    margin: 0;
    padding-left: 1em;

    font-weight: $bold;
  }

  .author-picture {
    display: block;
    border-radius: 50%;
  }
}
