*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family: $font-serif;
  font-size: 1.125rem;
  font-weight: $regular;
  color: $primary;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: $bg-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans-serif;
  font-weight: $semibold;

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin-block: 1em;

  line-height: 175%;

  strong {
    font-weight: $bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through 3px solid $accent;
  }
}

a {
  color: $accent;
  text-decoration: none;
  outline: none;
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

#theme-toggle,
#mobile-theme-toggle {
  cursor: pointer;

  display: grid;
  place-items: center;

  width: 2.5rem;
  height: 2.5rem;

  background-color: $accent;
  border-radius: 50%;
}
