*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  --font-family: #{$font-sans};
  --font-size: #{font-size(sm)};
  --font-weight: #{$font-light};

  min-height: 100vh;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: $primary;
  background-color: $bg-light;

  @include mq {
    --font-family: #{$font-serif};
    --font-size: #{font-size(sm, desktop)};
    --font-weight: #{$font-regular};
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: #{$font-sans};
  --font-weight: #{$font-semibold};

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin-block: 1em;

  line-height: 1.85;

  strong {
    font-weight: $font-bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through 3px solid $accent;
  }
}

a {
  color: $accent;
  text-decoration: none;
  outline: none;
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}
