%heading {
  --font-family: #{$font-sans};
  --font-weight: #{$font-semibold};

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.heading-1 {
  @extend %heading;

  --font-size: #{font-size(3xl)};

  @include mq {
    --font-size: #{font-size(3xl, desktop)};
  }
}

.heading-2 {
  @extend %heading;

  --font-size: #{font-size(2xl)};

  @include mq {
    --font-size: #{font-size(2xl, desktop)};
  }
}

.heading-3 {
  @extend %heading;

  --font-size: #{font-size(xl)};

  @include mq {
    --font-size: #{font-size(xl, desktop)};
  }
}

.heading-4 {
  @extend %heading;

  --font-size: #{font-size(lg)};

  @include mq {
    --font-size: #{font-size(lg, desktop)};
  }
}

.heading-5 {
  @extend %heading;

  --font-size: #{font-size(base)};

  @include mq {
    --font-size: #{font-size(base, desktop)};
  }
}

.heading-6 {
  @extend %heading;

  --font-size: #{font-size(sm)};

  @include mq {
    --font-size: #{font-size(sm, desktop)};
  }
}
