pre {
  position: relative;

  padding-top: 2.5rem;
  // padding: 1rem 2rem;
  border-radius: 8px;

  code {
    display: block;
    overflow: auto;
    padding: 1rem 2rem;
    font-family: $font-mono;
    font-size: 0.875rem;
  }

  &[data-linenos] {
    code {
      padding: 1rem 0;
    }
  }

  mark {
    display: block;
    width: 100%;
    color: inherit;
    background-color: inherit;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 0;
    }

    td:nth-of-type(1) {
      text-align: right;
      padding-left: 1rem;
      padding-right: 1em;
      opacity: 0.5;
      user-select: none;
    }

    td:nth-of-type(2) {
      padding-right: 1rem;

      mark {
        background-color: $grey70;
      }
    }
  }
}

$code-type-list: (
  elm: 'Elm',
  rs: 'Rust',
);

.z-code::before {
  content: 'Code';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  font-family: $font-body;
  font-size: 1rem;
  font-weight: $semibold;

  padding: 0.5em 1.5em;
  border-radius: 8px 8px 0 0;

  color: $grey20;
  background-color: $grey70;
}

@each $sign, $text in $code-type-list {
  .z-code[data-lang='#{$sign}']::before {
    content: $text;
  }
}
