@font-face {
  font-family: "Georama";
  src: url("fonts/Georama-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 150%;
  font-display: swap;
}

@font-face {
  font-family: "Georama";
  src: url("fonts/Georama-Italic-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 62.5% 150%;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-Italic-VariableFont_wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code VF";
  src: url("fonts/FiraCode-VF.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
}
