$grey10: #f8f9fa;
$grey20: #e9ecef;
$grey30: #dee2e6;
$grey40: #ced4da;
$grey50: #adb5bd;
$grey60: #6c757d;
$grey70: #495057;
$grey80: #343a40;
$grey90: #212529;

:root[data-theme='light'] {
  --background: #{$grey10};
  --background-grey: #{$grey20};
  --text-primary: #{$grey80};
  --text-secondary: #{$grey70};

  .dark {
    display: none;
  }
}

:root[data-theme='dark'] {
  --background: #{$grey90};
  --background-grey: #{$grey70};
  --text-primary: #{$grey10};
  --text-secondary: #{$grey30};

  .light {
    display: none;
  }
}

$font-body: 'Georama', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-title: 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-mono: 'Fira Code', ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
  Liberation Mono, monospace;

$bg-light: var(--background);
$bg-grey: var(--background-grey);
$primary: var(--text-primary);
$secondary: var(--text-secondary);
$accent: #757bc8;

$light: 200;
$regular: 300;
$semibold: 500;
$bold: 650;
