<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  {% if page.title %}
  <title>
    {{ page.title }} | {{ config.title }}
  </title>
  {% elif section.title %}
  <title>
    {{ section.title }} | {{ config.title }}
  </title>
  {% else %}
  <title>
    {{ config.title }}
  </title>
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <script src="{{ get_url(path='script.js', trailing_slash=false) }}"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) }}">
</head>

<body onload="main();">

  <header class="header">

    {% set blog = get_section(path="blog/_index.md", metadata_only=true) %}
    {% set about = get_page(path="about.md") %}

    <h1 class="logo">
      <a href="{{ get_url(path='') }}">{{ config.title }}</a>
    </h1>
    
    <nav class="nav">
      <ul>
        <li>
          <a href="{{ blog.path }}">Blog</a>
        </li>
        <li>
          <a href="{{ about.path }}">About</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

</body>

</html>