<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <meta name="description" content="{{ config.description }}">

  {% block opengraph %}
  <meta property="og:title" content="{{ config.title }}">
  <meta property="og:description" content="{{ config.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ config.base_url }}">

  <meta itemprop="name" content="{{ config.title }}">
  <meta itemprop="description" content="{{ config.description }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ config.title }}">
  <meta name="twitter:description" content="{{ config.description }}">
  {% endblock opengraph %}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {% if config.generate_feed %}
  {% if config.feed_filename == "atom.xml" %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  {% else %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  {% endif %}
  {% endif %}

  {% block js %}
  <script src="{{ get_url(path='vendors/slideout.min.js', trailing_slash=false) }}"></script>
  {% endblock js %}

  {% block katex %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css"
    integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">

  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js"
    integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/mathtex-script-type.min.js"
    integrity="sha384-jiBVvJ8NGGj5n7kJaiWwWp9AjC+Yh8rhZY3GtAX8yU28azcLgoRo4oukO87g7zDT"
    crossorigin="anonymous"></script>

  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, {
        delimiters: [
          { left: '$$', right: '$$', display: true },
          { left: '$', right: '$', display: false }
        ],
      });
    });
  </script>
  {% endblock katex %}

  {% block fonts %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300..800&family=Merriweather+Sans:ital,wght@1,300..800&family=Petrona:wght@100..900&family=Petrona:ital,wght@1,100..900&display=swap"
    rel="stylesheet">

  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css">
  {% endblock fonts %}

  {% block icons %}
  <link rel="stylesheet" href="{{ get_url(path='vendors/fontawesome/css/all.min.css', trailing_slash=false) }}">
  <script src="{{ get_url(path='vendors/feather.min.js', trailing_slash=false) }}"></script>
  {% endblock icons %}


  {% block css %}
  <link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) }}">
  {% endblock css %}
</head>

<body>

  <div id="mobile-navbar" class="mobile-navbar">
    <div class="mobile-navbar-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="mobile-header-logo">
      <a href="/" class="logo">{{ config.title }}</a>
    </div>

    <div id="mobile-theme-toggle" class="theme-toggle">
      <i class="dark" data-feather="sun" width="18" height="18"></i>
      <i class="light" data-feather="moon" width="18" height="18"></i>
    </div>
  </div>

  <nav id="mobile-menu" class="mobile-menu slideout-menu slideout-menu-left">
    <ul class="mobile-menu-list">
      {% for item in config.extra.menu %}
      {% set item_url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
      <li class="mobile-menu-item">
        <a href="{{ item_url }}">
          {{ item.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div id="mobile-panel">
    <header class="header">
      <div class="logo">
        <a href="{{ config.base_url }}">{{ config.title }}</a>
      </div>

      <nav class="nav">
        <ul>
          {% for item in config.extra.menu %}
          {% set item_url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
          <li>
            <a href="{{ item_url }}">
              {{ item.title }}
            </a>
          </li>
          {% endfor %}
          <li>
            <div id="theme-toggle" class="theme-toggle">
              <i class="dark" data-feather="sun"></i>
              <i class="light" data-feather="moon"></i>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      {% block content %}
      <h1 class="title">
        {{ section.title | markdown(inline=true) }}
      </h1>


      <section class="article-list">

        {% for page in paginator.pages %}

        <article class="article-summary">
          <h2>
            {{ page.title | markdown(inline=true) }}
          </h2>

          {% if page.summary %}
          {{ page.summary | safe }}
          {% endif %}

          <a class="read-more-link" href="{{ page.permalink }}">Read more...</a>
        </article>

        {% endfor %}

        <nav class="pages">
          <div class="prev">
            {% if paginator.previous %}
            <a href="{{ paginator.previous }}" class="prev">Previous</a>
            {% endif %}
          </div>

          <div class="next">
            {% if paginator.next %}
            <a href="{{ paginator.next }}" class="next">Next</a>
            {% endif %}
          </div>
        </nav>

      </section>
      {% endblock content %}
    </main>

    <footer class="footer">
      {% block footer %}
      <div class="social">
        {% if config.extra.email %}
        <a href="mailto:{{ config.extra.email }}" target="_blank"><i data-feather="mail" width="40" height="40"></i></a>
        {% endif %}

        {% if config.extra.github %}
        <a href="{{ config.extra.github }}" target="_blank" rel="noopener noreferrer"><i data-feather="github"
            width="40" height="40"></i></a>
        {% endif %}

        {% if config.extra.twitter %}
        <a href="{{ config.extra.twitter }}" target="_blank" rel="noopener noreferrer"><i data-feather="twitter"
            width="40" height="40"></i></a>
        {% endif %}
      </div>

      <div>
        Powered by <a href="https://www.getzola.org/" target="_blank" rel="noopener noreferrer">Zola</a> <i
          class="fas fa-bolt"></i>
      </div>

      <div>
        Custom theme made with <i class="fas fa-heart"></i> by Punie
      </div>

      <div>
        <i class="far fa-copyright"></i> 2021 Hugo Saracino
      </div>
      {% endblock footer %}
    </footer>
  </div>

  {% block js_body %}
  <script src="{{ get_url(path='scripts/index.js', trailing_slash=false) }}"></script>

  <script>
    main();
  </script>
  {% endblock js_body %}

</body>

</html>
