pre {
  position: relative;

  padding-top: 2.5rem;

  border-radius: 8px;

  .btn-copy {
    opacity: 0;
    cursor: pointer;

    position: absolute;
    top: 2.5em;
    right: 0.5em;

    padding: 0.5em;

    border: solid 1px $grey-400;
    border-radius: 4px;

    color: $grey-400;
    background-color: $grey-600;

    transition: opacity 500ms ease-in-out;

    &:hover {
      color: $grey-200;
      background-color: $grey-500;
      border-color: $grey-200;
    }

    .fa-clone {
      display: block;
      font-size: 1.125rem;
    }

    .fa-check {
      display: none;
    }
  }

  .copied,
  .copied:hover {
    opacity: 1;

    color: $green-500;
    border-color: $green-500;

    .fa-check {
      display: block;
      font-size: 1.125rem;
    }

    .fa-clone {
      display: none;
    }

    &::before {
      content: 'Copied!';

      display: block;
      position: absolute;
      top: 0.5em;
      right: calc(100% + 0.5em);

      padding: 0.25em 0.5em;
      border-radius: 4px;

      background-color: $grey-500;
      font-size: 0.875rem;
      font-family: $font-sans;
    }
  }

  &:hover {
    .btn-copy {
      opacity: 1;
    }
  }

  code {
    display: block;
    overflow: auto;

    padding: 0.5rem 1.5rem;

    font-family: $font-mono;
    font-size: 0.875rem;
  }

  &[data-linenos] {
    code {
      padding: 0.5rem 0;
    }
  }

  mark {
    display: block;
    width: 100%;

    color: inherit;
    background-color: inherit;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 0;
    }

    td:nth-of-type(1) {
      text-align: right;
      padding-left: 0.5rem;

      opacity: 0.5;
      user-select: none;
    }

    td:nth-of-type(2) {
      padding-left: 1rem;
      padding-right: 0.5rem;

      mark {
        background-color: $grey-600;
      }
    }
  }
}

$language-shortnames-map: (
  elm: 'Elm',
  idris: 'Idris',
  rs: 'Rust',
);

.z-code::before {
  content: 'Code';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  font-family: $font-sans;
  font-size: 1rem;
  font-weight: $font-semibold;

  padding: 0.5em 1.5em;
  border-radius: 8px 8px 0 0;

  color: $grey-100;
  background-color: $grey-600;
}

@each $shortname, $name in $language-shortnames-map {
  .z-code[data-lang='#{$shortname}']::before {
    content: $name;
  }
}
